@model DanicoProject.Models.vQuote

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>vQuote</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uname)
            @Html.ValidationMessageFor(model => model.Uname)
        </div>

        @Html.HiddenFor(model => model.Uemail)

        <div class="editor-label">
            @Html.LabelFor(model => model.QrequestDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QrequestDate)
            @Html.ValidationMessageFor(model => model.QrequestDate)
        </div>

        @Html.HiddenFor(model => model.QidHotel)

        <div class="editor-label">
            @Html.LabelFor(model => model.Qdescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Qdescription)
            @Html.ValidationMessageFor(model => model.Qdescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QtripStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QtripStartDate)
            @Html.ValidationMessageFor(model => model.QtripStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QtripEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QtripEndDate)
            @Html.ValidationMessageFor(model => model.QtripEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTripType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTripType)
            @Html.ValidationMessageFor(model => model.idTripType)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
