@model IEnumerable<DanicoProject.Models.vHotel>

@{
    ViewBag.Title = "Details";
}

<!--

<body id="portfolio">
-->
	
	<div id="content">
    	<div class="container">
        	<div class="sixteen columns page-title">
            	<h3>@Html.DisplayFor(model => model.FirstOrDefault().Hname)</h3>
                <div class="wrapper">   
                    
                    @if (Int32.Parse(@Model.FirstOrDefault().Hstars) == 5)
                    {
                        <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-2"/><label for="star-2" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-3"/><label for="star-3" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-4"/><label for="star-4" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>    
                    }
                    else if (Int32.Parse(@Model.FirstOrDefault().Hstars) == 4)
                    {
                        <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" ></label>
                        <input type="radio" name="radiobutton" id="star-2"/><label for="star-2" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-3"/><label for="star-3" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-4"/><label for="star-4" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>        
                    }
                    else if (Int32.Parse(@Model.FirstOrDefault().Hstars) == 3)
                    {
                        <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" ></label>
                        <input type="radio" name="radiobutton" id="star-2"/><label for="star-2"  ></label>
                        <input type="radio" name="radiobutton" id="star-3"/><label for="star-3" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-4"/><label for="star-4" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>        
                    }
                    else if (Int32.Parse(@Model.FirstOrDefault().Hstars) == 2)
                    {
                        <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" ></label>
                        <input type="radio" name="radiobutton" id="star-2"/><label for="star-2"  ></label>
                        <input type="radio" name="radiobutton" id="star-3"/><label for="star-3"  ></label>
                        <input type="radio" name="radiobutton" id="star-4"/><label for="star-4" class="starred"></label>
                        <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>        
                    }
                    else if (Int32.Parse(@Model.FirstOrDefault().Hstars) == 1)
                    {
                        <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" ></label>
                        <input type="radio" name="radiobutton" id="star-2"/><label for="star-2"  ></label>
                        <input type="radio" name="radiobutton" id="star-3"/><label for="star-3"  ></label>
                        <input type="radio" name="radiobutton" id="star-4"/><label for="star-4"  ></label>
                        <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>        
                    }
                </div>
        </div>
        </div>

        <div class="container">
            <div class="clearfix">
            
                <div class="sixteen columns">
                    <ul class="cat-list fright filter_list">
                          <li><a href="javascript: void(0)" rel="*">Todas</a></li>
                          <li><a href="javascript: void(0)" rel=".Category1">Zonas Comunes</a></li>
                     @foreach (var item in Model)
                     {
                         if (item.HSidRoom == 1 && item.Stype == "R")
                         {
                            <li><a href="javascript: void(0)" rel=".Category2">@item.Rtype</a></li>
                         }
                         else if (item.HSidRoom == 2 && item.Stype == "R")
                         {
                            <li><a href="javascript: void(0)" rel=".Category3">@item.Rtype</a></li>                         
                         }
                         else if (item.HSidRoom == 3 && item.Stype == "R")
                         {                         
                            <li><a href="javascript: void(0)" rel=".Category4">@item.Rtype</a></li>
                         }
                     }
                    </ul>
                    <div class="clear"></div>
                </div>
                
            <div id="portfolio">
                 @foreach (var item in Model)
                 {
                     /*Category1*/
                     if (item.Stype == "H")
                     {
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage0))
                         {
                             <div class="four columns Category1">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage0" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                              </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage1))
                         {
                             <div class="four columns Category1">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage1" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                              </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage2))
                         {
                             <div class="four columns Category1">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage2" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                              </div>
                         }

                     }

                     /*Category2*/
                     else if (item.HSidRoom == 1 && item.Stype == "R")
                     {

                         if (!String.IsNullOrWhiteSpace(item.HScoverImage0))
                         {
                             <div class="four columns Category2">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage0" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage1))
                         {
                             <div class="four columns Category2">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage1" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage2))
                         {
                             <div class="four columns Category2">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage2" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                     }

                     /*Category3*/
                     else if (item.HSidRoom == 2 && item.Stype == "R")
                     {
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage0))
                         {  
                             <div class="four columns Category3">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage0" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage1))
                         {
                             <div class="four columns Category3">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage1" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage2))
                         {
                            <div class="four columns Category3">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage2" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }

                     }

                     /*Category4*/
                     else if (item.HSidRoom == 3 && item.Stype == "R")
                     {
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage0))
                         {  
                            <div class="four columns Category4">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage0" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage1))
                         {
                            <div class="four columns Category4">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage1" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         if (!String.IsNullOrWhiteSpace(item.HScoverImage2))
                         {
                            <div class="four columns Category4">
                                <figure class="img-container">
                                    <a href="../../Content/images/Hotels/hotel14/fullSize/page3-img1-full.jpg" rel="prettyPhoto"><img src="@item.HSimagesDirectory@item.HScoverImage2" alt="" class="scale-with-grid grayscale"/></a>
                                </figure>
                            </div>
                         }
                         
                     }
                 }
               
            </div>
            
        </div><!-- container -->
    </div>
	

