@model DanicoProject.Models.vHotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>vHotel</legend>

    <div class="display-label">Hphone1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hphone1)
    </div>

    <div class="display-label">Hphone2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hphone2)
    </div>

    <div class="display-label">Hemail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hemail)
    </div>

    <div class="display-label">HimagesDirectory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HimagesDirectory)
    </div>

    <div class="display-label">HcoverImage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HcoverImage)
    </div>

    <div class="display-label">HSidHotel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidHotel)
    </div>

    <div class="display-label">HSidService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidService)
    </div>

    <div class="display-label">HSprice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSprice)
    </div>

    <div class="display-label">HSdescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSdescription)
    </div>

    <div class="display-label">HSimagesDirectory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSimagesDirectory)
    </div>

    <div class="display-label">HScoverImage0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage0)
    </div>

    <div class="display-label">HScoverImage1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage1)
    </div>

    <div class="display-label">HScoverImage2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage2)
    </div>

    <div class="display-label">HSidRoom</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidRoom)
    </div>

    <div class="display-label">Sname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sname)
    </div>

    <div class="display-label">Stype</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stype)
    </div>

    <div class="display-label">Spk_idService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spk_idService)
    </div>

    <div class="display-label">RpkidHabitacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RpkidHabitacion)
    </div>

    <div class="display-label">Rfk_idHotel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rfk_idHotel)
    </div>

    <div class="display-label">Rprice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rprice)
    </div>

    <div class="display-label">Rdescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rdescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
