@model DanicoProject.Models.vHotel

@{
    ViewBag.Title = "Details";
}

<!--

<body id="portfolio">
-->
	
	<div id="content">
    	<div class="container">
        	<div class="sixteen columns page-title">
            	<h3>Nombre del Hotel</h3>
                <div class="wrapper">   
                    <input type="radio" name="radiobutton" id="star-1"/><label for="star-1" ></label>
                    <input type="radio" name="radiobutton" id="star-2"/><label for="star-2" class="starred"></label>
                    <input type="radio" name="radiobutton" id="star-3"/><label for="star-3" class="starred"></label>
                    <input type="radio" name="radiobutton" id="star-4"/><label for="star-4" class="starred"></label>
                    <input type="radio" name="radiobutton" id="star-5"/><label for="star-5" class="starred"></label>    
                </div>
        </div>
        </div>

        <div class="container">
            <div class="clearfix">
            
                <div class="sixteen columns">
                    <ul class="cat-list fright filter_list">
                         <li><a href="javascript: void(0)" rel="*">All</a></li>
                         <li><a href="javascript: void(0)" rel=".Category1">Category 1</a></li>
                         <li><a href="javascript: void(0)" rel=".Category2">Category 2</a></li>
                         <li><a href="javascript: void(0)" rel=".Category3">Category 3</a></li>
                         <li><a href="javascript: void(0)" rel=".Category4">Category 4</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
            </div>
            
            <div id="portfolio">
            
                <div class="four columns Category1">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img1.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category2">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img2.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category3">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img3.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category4">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img4.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
            
                <div class="four columns Category1">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img5.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category2">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img6.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category3">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img7.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category4">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img8.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
            
                <div class="four columns Category1">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img9.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                <div class="four columns Category2">
                    <figure class="img-container">
                        <a href="images/full-sizes/page3-img1-full.jpg" rel="prettyPhoto"><img src="images/page3-img10.jpg" alt="" class="scale-with-grid grayscale"/></a>
                    </figure>
                </div>
                    
            </div>
            
        </div><!-- container -->
    </div>
	<!--
</body>


<h2>Details</h2>

<fieldset>
    <legend>vHotel</legend>

    <div class="display-label">Hphone1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hphone1)
    </div>

    <div class="display-label">Hphone2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hphone2)
    </div>

    <div class="display-label">Hemail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hemail)
    </div>

    <div class="display-label">HimagesDirectory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HimagesDirectory)
    </div>

    <div class="display-label">HcoverImage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HcoverImage)
    </div>

    <div class="display-label">HSidHotel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidHotel)
    </div>

    <div class="display-label">HSidService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidService)
    </div>

    <div class="display-label">HSprice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSprice)
    </div>

    <div class="display-label">HSdescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSdescription)
    </div>

    <div class="display-label">HSimagesDirectory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSimagesDirectory)
    </div>

    <div class="display-label">HScoverImage0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage0)
    </div>

    <div class="display-label">HScoverImage1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage1)
    </div>

    <div class="display-label">HScoverImage2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HScoverImage2)
    </div>

    <div class="display-label">HSidRoom</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSidRoom)
    </div>

    <div class="display-label">Sname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sname)
    </div>

    <div class="display-label">Stype</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stype)
    </div>

    <div class="display-label">Spk_idService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spk_idService)
    </div>

    <div class="display-label">RpkidHabitacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RpkidHabitacion)
    </div>

    <div class="display-label">Rfk_idHotel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rfk_idHotel)
    </div>

    <div class="display-label">Rprice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rprice)
    </div>

    <div class="display-label">Rdescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rdescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
-->

