@model IEnumerable<DanicoProject.Models.vHotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Hphone1
        </th>
        <th>
            Hphone2
        </th>
        <th>
            Hemail
        </th>
        <th>
            HimagesDirectory
        </th>
        <th>
            HcoverImage
        </th>
        <th>
            HSidHotel
        </th>
        <th>
            HSidService
        </th>
        <th>
            HSprice
        </th>
        <th>
            HSdescription
        </th>
        <th>
            HSimagesDirectory
        </th>
        <th>
            HScoverImage0
        </th>
        <th>
            HScoverImage1
        </th>
        <th>
            HScoverImage2
        </th>
        <th>
            HSidRoom
        </th>
        <th>
            Sname
        </th>
        <th>
            Stype
        </th>
        <th>
            Spk_idService
        </th>
        <th>
            RpkidHabitacion
        </th>
        <th>
            Rfk_idHotel
        </th>
        <th>
            Rprice
        </th>
        <th>
            Rdescription
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hphone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hphone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hemail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HimagesDirectory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HcoverImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSidHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSidService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSimagesDirectory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HScoverImage0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HScoverImage1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HScoverImage2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSidRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spk_idService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RpkidHabitacion)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.Rprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rdescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
